  .logo img {
    margin-left: -29px;
    margin-top: 7px;    
    width:93px;
    height: 50px;
    border-radius:90%;
    box-shadow: 0 0 30px rgb(255, 255, 255);
  }
  .logo > div {
    display: flex;
    align-items: center;
  }
  .logo > p {
    font-size: 1rem;
  }
 